body{
    color: darkturquoise;
    text-align: center;
    font-family: "Arial";
}
h1{
    color: navy;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    color: springgreen;
    font-family: sans-serif;
}
h3{
    color: skyblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
p{
    color: mediumturquoise;
    font-family: fantasy;
}